# Table of Contents
 <p>

In [2]:
import pandas as pd
import numpy as np
import pprint as pp
import os
import re
import csv

In [3]:
df = pd.read_excel('Tennis_Data.xlsx')
df.head(3)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,W5,L5,Wsets,Lsets,Comment,WPts,LPts,WT,LT,WL_RDiff
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,2,0,Completed,NaN,NaN,12,6,-14
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,2,0,Completed,NaN,NaN,12,6,-51
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,2,1,Completed,NaN,NaN,19,15,-615

In [4]:
unique_players = pd.read_csv('unique_set.csv', index_col=0, names=['Name'])
unique_players.head(3)

           Name
0    Eubanks C.
1      Thiem D.
2  Weinzierl J.

In [5]:
def to_fol(name):
    return name[:-1].replace(' ', '_').replace('.', '-')

def from_fol(name):
    return (name.replace('-', '.').replace('_', ' ') + '.')