# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Initial" data-toc-modified-id="Initial-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Initial</a></div><div class="lev1 toc-item"><a href="#Manipulation" data-toc-modified-id="Manipulation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Manipulation</a></div><div class="lev3 toc-item"><a href="#Creating-Tables" data-toc-modified-id="Creating-Tables-201"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Creating Tables</a></div><div class="lev3 toc-item"><a href="#Inserting-Rows" data-toc-modified-id="Inserting-Rows-202"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Inserting Rows</a></div><div class="lev3 toc-item"><a href="#Inserting-Multiple-Rows" data-toc-modified-id="Inserting-Multiple-Rows-203"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Inserting Multiple Rows</a></div><div class="lev2 toc-item"><a href="#Selecting" data-toc-modified-id="Selecting-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Selecting</a></div>

# Initial

In [1]:
import sqlalchemy

In [2]:
# Common: create_engine, MetaData, Column, Table, ForeignKey, Integer, String
# Common: select, insert
from sqlalchemy import *

In [3]:
database_server = '192.168.3.20' 
database_name = 'TestDB_ss'
#database_name = 'AVERCAST'
engi_uri =  'mssql+pymssql://{0}/{1}'.format(database_server, database_name)

In [4]:
engine = create_engine(engi_uri, echo = True)

# Manipulation

In [5]:
insp = inspect(engine)

2017-03-09 15:24:43,781 INFO sqlalchemy.engine.base.Engine select @@version
2017-03-09 15:24:43,791 INFO sqlalchemy.engine.base.Engine {}
2017-03-09 15:24:43,792 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2017-03-09 15:24:43,792 INFO sqlalchemy.engine.base.Engine {}
2017-03-09 15:24:43,792 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-03-09 15:24:43,792 INFO sqlalchemy.engine.base.Engine {}
2017-03-09 15:24:43,792 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2017-03-09 15:24:43,792 INFO sqlalchemy.engine.base.Engine {}

In [6]:
insp.get_table_names()

2017-03-09 15:24:50,616 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = %(table_type_1)s ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2017-03-09 15:24:50,616 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_type_1': 'BASE TABLE'}

['addresses', 'users']

In [7]:
metadata = MetaData(bind = engine)

### Creating Tables

In [8]:
users_table = Table('users', metadata,
                    Column('id', Integer, primary_key = True),
                    Column('name', String(40)),
                    Column('age', Integer),
                    Column('password', String(25)))

addresses_table = Table('addresses', metadata,
                       Column('id', Integer, primary_key = True),
                       Column('user_id', None, ForeignKey('users.id')),
                       Column('email_address', String, nullable = False))

metadata.create_all()

2017-03-09 15:25:30,354 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2017-03-09 15:25:30,356 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_name_1': 'users'}
2017-03-09 15:25:30,362 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2017-03-09 15:25:30,364 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_name_1': 'addresses'}

In [9]:
metadata.create_all()

2017-03-09 15:25:52,997 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2017-03-09 15:25:53,000 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_name_1': 'users'}
2017-03-09 15:25:53,005 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(%(table_name_1)s AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(%(table_schema_1)s AS NVARCHAR(max))
2017-03-09 15:25:53,007 INFO sqlalchemy.engine.base.Engine {'table_schema_1': 'dbo', 'table_name_1': 'addresses'}

In [10]:
someTable = Table('users', metadata, autoload = True)

In [11]:
someTable

Table('users', MetaData(bind=Engine(mssql+pymssql://192.168.3.20/TestDB_ss)), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=40), table=<users>), Column('age', Integer(), table=<users>), Column('password', String(length=25), table=<users>), schema=None)

### Inserting Rows

In [12]:
ins =  users_table.insert()

new_user = ins.values(name = 'Joe', age = 20, password = 'pass')

In [13]:
# Using connections
conn = engine.connect()
conn.execute(new_user)

2017-03-09 15:27:05,784 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, age, password) OUTPUT inserted.id VALUES (%(name)s, %(age)s, %(password)s)
2017-03-09 15:27:05,784 INFO sqlalchemy.engine.base.Engine {'password': 'pass', 'age': 20, 'name': 'Joe'}
2017-03-09 15:27:05,784 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
# Connectionless ways
result = engine.execute(ins, name = 'Shinji', age = 15, password = 'nihongo')

2017-03-09 15:30:20,512 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, age, password) OUTPUT inserted.id VALUES (%(name)s, %(age)s, %(password)s)
2017-03-09 15:30:20,513 INFO sqlalchemy.engine.base.Engine {'password': 'nihongo', 'age': 15, 'name': 'Shinji'}
2017-03-09 15:30:20,516 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
result = users_table.insert().execute(name = 'Mary', age = 45, password = 'dingbat')

2017-03-09 15:30:21,719 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, age, password) OUTPUT inserted.id VALUES (%(name)s, %(age)s, %(password)s)
2017-03-09 15:30:21,719 INFO sqlalchemy.engine.base.Engine {'name': 'Mary', 'age': 45, 'password': 'dingbat'}
2017-03-09 15:30:21,720 INFO sqlalchemy.engine.base.Engine COMMIT

### Inserting Multiple Rows

In [16]:
conn.execute(users_table.insert(),[ 
            {'name': 'Ted', 'age': 10, 'password': 'dink'},
            {'name': 'Asahina', 'age': 25, 'password': 'nippon'},
            {'name': 'Evan', 'age': 40, 'password': 'macaca'}
])

2017-03-09 15:30:23,614 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, age, password) VALUES (%(name)s, %(age)s, %(password)s)
2017-03-09 15:30:23,614 INFO sqlalchemy.engine.base.Engine ({'name': 'Ted', 'age': 10, 'password': 'dink'}, {'name': 'Asahina', 'age': 25, 'password': 'nippon'}, {'name': 'Evan', 'age': 40, 'password': 'macaca'})
2017-03-09 15:30:23,615 INFO sqlalchemy.engine.base.Engine COMMIT

## Selecting

In [17]:
s = select([users_table])
result = s.execute()

for row in result:
    print(row)

2017-03-09 15:30:30,981 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.age, users.password
FROM users
2017-03-09 15:30:30,982 INFO sqlalchemy.engine.base.Engine {}
(1, 'Joe', 20, 'pass')
(2, 'Shinji', 15, 'nihongo')
(3, 'Mary', 45, 'dingbat')
(4, 'Ted', 10, 'dink')
(5, 'Asahina', 25, 'nippon')
(6, 'Evan', 40, 'macaca')
(7, 'Joe', 20, 'pass')
(8, 'Shinji', 15, 'nihongo')
(9, 'Mary', 45, 'dingbat')
(10, 'Ted', 10, 'dink')
(11, 'Asahina', 25, 'nippon')
(12, 'Evan', 40, 'macaca')

In [18]:
conn = engine.connect()
res = conn.execute(s)
rows = res.fetchall()

rows

2017-03-09 15:30:32,000 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.age, users.password
FROM users
2017-03-09 15:30:32,001 INFO sqlalchemy.engine.base.Engine {}

[(1, 'Joe', 20, 'pass'),
 (2, 'Shinji', 15, 'nihongo'),
 (3, 'Mary', 45, 'dingbat'),
 (4, 'Ted', 10, 'dink'),
 (5, 'Asahina', 25, 'nippon'),
 (6, 'Evan', 40, 'macaca'),
 (7, 'Joe', 20, 'pass'),
 (8, 'Shinji', 15, 'nihongo'),
 (9, 'Mary', 45, 'dingbat'),
 (10, 'Ted', 10, 'dink'),
 (11, 'Asahina', 25, 'nippon'),
 (12, 'Evan', 40, 'macaca')]

In [19]:
res = conn.execute(s)
row = res.fetchone()
row

2017-03-09 15:30:36,382 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.age, users.password
FROM users
2017-03-09 15:30:36,382 INFO sqlalchemy.engine.base.Engine {}

(1, 'Joe', 20, 'pass')