# SQLite
- [Python 3 SQLite Sentdex Tutorial](https://pythonprogramming.net/sql-database-python-part-1-inserting-database/)

## Introduction

In [1]:
import sqlite3
import time
import datetime as dt
import random
import pprint as pr

import praw
import reddit_creds as rc

An object, `conn` in this case, is created to associate with a `database.db`. Also a *cursor* is defined

- `sqlite3.connect('database_name.db')`
- `sqlite3.connect('database_name.db).cursor()`

In [2]:
# If the `db` doesn't exist, it will be created.
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()
pr.pprint('Database connection created!')

'Database connection created!'

Writing SQL Statements in Python3

- via the `execute()` method
- `conn.execute('sql_statements')`

## Some basic SQLite operations in Python

### Creating a Table

In [47]:
def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS redditUser_1_2(id TXT PRIMARY KEY UNIQUE," 
                                                        "username TEXT UNIQUE,"
                                                        "actCreated REAL NOT NULL,"
                                                        "cKarma INT NOT NULL,"
                                                        "lKarma INT NOT NULL)")
    pr.pprint('Table Created!')
    
create_table()

'Table Created!'

### Data Entry Into Table

- `INSERT INTO Table_Name(Column_Names)`
- `VALUES(Values_to_be_Inserted)`

In [8]:
def data_entry():
    c.execute("INSERT INTO redditUser VALUES('lji02', 'Nazi_Ganesh', 1424707173.0, 3762, 251)")
    conn.commit()
    print('Data Entered!')

data_entry()

Data Entered!

### Dynamic Data Entry

In [10]:
# Reddit Instance
uag = 'reddit_crawl_script:v1.0.0 (/u/Nazi_Ganesh)'
rd = praw.Reddit(check_for_updates = True,
                 client_id = rc.cid,
                 client_secret = rc.sec,
                 user_agent = uag,
                 username = rc.usr,
                 password = rc.psw)

In [12]:
redd_usr = rd.redditor('Darzin')
usrID = redd_usr.id
usrName = redd_usr.name
cUTC = redd_usr.created_utc
cKar = redd_usr.comment_karma
lKar = redd_usr.link_karma

In [57]:
def dynamic_data_entry():
    redd_usr = rd.redditor('Nazi_Ganesh')
    usrID = redd_usr.id
    usrName = redd_usr.name
    cUTC = redd_usr.created_utc
    cKar = redd_usr.comment_karma
    lKar = redd_usr.link_karma
    c.execute("INSERT INTO redditUser_1_2 (id, userName, actCreated, cKarma, lKarma) VALUES(?, ?, ?, ?, ?)",
              (usrID, usrName, cUTC, cKar, lKar))
    conn.commit()
    
dynamic_data_entry()

In [64]:
yty = redd_usr.submissions.top(limit=10).next()
print(yty.subreddit_id

t5_2qh33

### Reading from a `db`

In [42]:
trt = 'Nazi_Ganeshsd'
def read_from_db(usr):
    c.execute("SELECT userName, cKarma FROM redditUser WHERE userName=(?)", (usr,))
    return c.fetchall()
    
len(read_from_db(trt))

0

In [ ]:
c.close()
conn.close()